name: Deploy Blog

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    # 必须添加下面这一行，名称要和你在 GitHub Settings -> Environments 里创建的一致
    environment: SERVER_HOST 

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd /www/wwwroot/blog/suorce/_posts
            git clone https://github.com/zengweis/blog.git . || git pull origin main
            hexo generate