name: Deploy Blog

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: SERVER_HOST 

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            # 1. 强制同步文章到指定目录
            cd /www/wwwroot/blog/source/_posts
            git fetch --all
            git reset --hard origin/main

            # 2. 返回根目录，用 npm 构建发布
            cd /www/wwwroot/blog
            npm install
            npx hexo generate
